In [1]:
import numpy as np

In [43]:
Country = np.array(['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China',
'Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India',
'Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia',
'Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe'])

In [44]:
GDP = np.array([2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,
7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,
385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,
274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,
28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605])

In [19]:
max_GDP = GDP.argmax()

In [20]:
country_max_GDP = Country[max_GDP]

In [21]:
country_max_GDP

'Norway'

In [22]:
min_GDP = GDP.argmin()

In [23]:
country_min_GDP = Country[min_GDP]

In [24]:
country_min_GDP

'Ethiopia'

In [25]:
for position,name in enumerate(Country):
    print(position,name)

0 Algeria
1 Angola
2 Argentina
3 Australia
4 Austria
5 Bahamas
6 Bangladesh
7 Belarus
8 Belgium
9 Bhutan
10 Brazil
11 Bulgaria
12 Cambodia
13 Cameroon
14 Chile
15 China
16 Colombia
17 Cyprus
18 Denmark
19 El Salvador
20 Estonia
21 Ethiopia
22 Fiji
23 Finland
24 France
25 Georgia
26 Ghana
27 Grenada
28 Guinea
29 Haiti
30 Honduras
31 Hungary
32 India
33 Indonesia
34 Ireland
35 Italy
36 Japan
37 Kenya
38 South Korea
39 Liberia
40 Malaysia
41 Mexico
42 Morocco
43 Nepal
44 New Zealand
45 Norway
46 Pakistan
47 Peru
48 Qatar
49 Russia
50 Singapore
51 South Africa
52 Spain
53 Sweden
54 Switzerland
55 Thailand
56 United Arab Emirates
57 United Kingdom
58 United States
59 Uruguay
60 Venezuela
61 Vietnam
62 Zimbabwe

In [50]:
Country_with_GDP = list(zip(Country,GDP))

In [51]:
Country_with_GDP

[('Algeria', 2255.225482),
 ('Angola', 629.9553062),
 ('Argentina', 11601.63022),
 ('Australia', 25306.82494),
 ('Austria', 27266.40335),
 ('Bahamas', 19466.99052),
 ('Bangladesh', 588.3691778),
 ('Belarus', 2890.345675),
 ('Belgium', 24733.62696),
 ('Bhutan', 1445.760002),
 ('Brazil', 4803.398244),
 ('Bulgaria', 2618.876037),
 ('Cambodia', 590.4521124),
 ('Cameroon', 665.7982328),
 ('Chile', 7122.938458),
 ('China', 2639.54156),
 ('Colombia', 3362.4656),
 ('Cyprus', 15378.16704),
 ('Denmark', 30860.12808),
 ('El Salvador', 2579.115607),
 ('Estonia', 6525.541272),
 ('Ethiopia', 229.6769525),
 ('Fiji', 2242.689259),
 ('Finland', 27570.4852),
 ('France', 23016.84778),
 ('Georgia', 1334.646773),
 ('Ghana', 402.6953275),
 ('Grenada', 6047.200797),
 ('Guinea', 394.1156638),
 ('Haiti', 385.5793827),
 ('Honduras', 1414.072488),
 ('Hungary', 5745.981529),
 ('India', 837.7464011),
 ('Indonesia', 1206.991065),
 ('Ireland', 27715.52837),
 ('Italy', 18937.24998),
 ('Japan', 39578.07441),
 ('Kenya', 478.2194906),
 ('South Korea', 16684.21278),
 ('Liberia', 279.2204061),
 ('Malaysia', 5345.213415),
 ('Mexico', 6288.25324),
 ('Morocco', 1908.304416),
 ('Nepal', 274.8728621),
 ('New Zealand', 14646.42094),
 ('Norway', 40034.85063),
 ('Pakistan', 672.1547506),
 ('Peru', 3359.517402),
 ('Qatar', 36152.66676),
 ('Russia', 3054.727742),
 ('Singapore', 33529.83052),
 ('South Africa', 3825.093781),
 ('Spain', 15428.32098),
 ('Sweden', 33630.24604),
 ('Switzerland', 39170.41371),
 ('Thailand', 2699.123242),
 ('United Arab Emirates', 21058.43643),
 ('United Kingdom', 28272.40661),
 ('United States', 37691.02733),
 ('Uruguay', 9581.05659),
 ('Venezuela', 5671.912202),
 ('Vietnam', 757.4009286),
 ('Zimbabwe', 347.7456605)]

In [52]:
Highest_GDP_Value = max(GDP)

In [53]:
Highest_GDP_Value

40034.85063

In [54]:
Lowest_GDP_Value = min(GDP)
Lowest_GDP_Value

229.6769525

In [57]:
Mean_GDP_Value = np.mean(GDP)

In [58]:
Mean_GDP_Value

11289.409271639683

In [59]:
Standardised_GDP_Value = np.std(GDP)

In [60]:
Standardised_GDP_Value

12743.828910617945

In [61]:
Sum_of_GDP = sum(GDP)

In [62]:
Sum_of_GDP

711232.7841133001